 <!DOCTYPE html>
<html ng-app="imageSliderApp">
<head>
  <title>Date Show || Essence.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <form action="" method="POST" action="/admin/signup">
    	Username: <input name="username" value="" type="text">
    	Password: <input name="password" size="30" type="password">
    	<input value="Submit" type="submit">
    </form>

</body>

</html>    